/* PICTURE */

.picture {
    border-radius: 10%;
    max-width: 100%;
    width: 35vw;
    height: 60vh;
    border: solid;
    border-color: rgb(0, 0, 0);
    border-width: 4px;
    object-fit: cover;
    margin: 0 0 1.5rem 1.5rem;
}

.picture:hover {
    filter: drop-shadow(0 0 30px rgb(245, 222, 179));
    transform: scale(1.02);
    transition: all 0.5s ease;
}

.divstyle {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

/* SERVICES */

ul.services_list {
    display: block;
    list-style: none;
    font-weight: bold;
    line-height: 1.5rem;
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
    text-align: center;
}

div p.faculty-glyphic-regular {
    padding: 0 14%;
}

.spec_title {
    margin: 2rem 0;
}