@media (min-width: 0px) and (max-width: 767px) {
   
    /* PÁGINA PRINCIPAL (index.html) */

    ul.navlist {
        display: flex;
        flex-direction: column;
        font-size: 1.2rem;
        margin: 0;
        align-items: center;
        padding: 1rem 0;
        gap: 1rem;
    }

    .logo {
        border-radius: 10%;
        width: 8rem;
        height: 4rem;
        margin: 0;
    }

    i {
        font-size: 1.25rem;
        margin-right: 0.1rem;
    }

    h2.faculty-glyphic-regular {
        font-size: 1.5rem;
        text-align: center;
    }

    h3.faculty-glyphic-regular {
        font-size: 1.45rem;
        margin: 0 0 0.5rem 0.25rem
    }

    h4.faculty-glyphic-regular {
        font-size: 1.3rem;
        margin: 0 0 0.5rem 0.25rem
    }

    p.faculty-glyphic-regular {
        font-size: 1.2rem;
        margin-bottom: 1rem;
        margin: 0 0 0.5rem 0.25rem

    }

    .main_picture {
        border-radius: 5%;
        width: 90vw;
        height: 36vh;
    }

    .intro_p {
        padding: 0 5%;
    }

    footer div p {
        display: flex;
        flex-direction: column;
    }

    .media {
        border: solid rgb(0, 0, 0) 1px;
        margin: 1rem 0.5rem 1rem 0.5rem;
        cursor: pointer;
    }

    /* SERVICIOS TURÍSTICOS Y UBICACIÓN */

    .embed_map {
        display: block;
        border-radius: 5%;
        height: 32rem;
        width: 90vw;
        margin: 0 auto 1rem auto;
    }


    /* CABAÑAS */

    .picture {
        border-radius: 5%;
        width: 90vw;
        height: 36vh;
        margin: 0 0 0.25rem 0;
    }

    div p.faculty-glyphic-regular {
        padding: 0 5% !important;
    }

    ul.services_list {
        display: block;
        list-style: disc;
        font-weight: bold;
        line-height: 0.75rem;
        font-size: 1.5rem;
        margin: 0;
    }


    /* CONTACTO Y DUDAS */

    label.faculty-glyphic-regular,
    h4.faculty-glyphic-regular {
        margin: 0 0.5rem 0 0.5rem;
        font-size: 1.25rem;
    }

    .warning {
        font-size: 1.2rem;
        text-align: center;
    }

    input {
        display: block;
        align-self: center;
        margin: 0.25rem auto 0.25rem auto;
        width: 20rem;
    }

    div.selector_container {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.1rem;
        justify-content: center;
        padding: 0 25%;
        gap: 0.35rem;
    }

    .text_selector {
        padding: 0 5% !important;
    }

    .selector {
        margin-top: 2.25rem;
    }

    div.form_group select,
    option {
        width: 20rem;
        margin: 0.25rem auto 0.25rem auto;
        display: block;
        align-self: center;
    }

    .area_container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;

    }

    div.area_container label {
        margin-top: 0.5rem;
        text-align: left;
    }

    textarea {
        margin: 0.25rem auto 0.25rem auto;
        width: 20rem;
    }

    .button_container {
        display: flex;
        gap: 1rem;
        margin: 1rem auto;
        align-items: center;
        justify-content: center;

    }

    #send {
        width: auto;
        min-width: 6rem;
        height: 3rem;
        font-size: 0.9rem;
        padding: 0 1rem;
    }

    #reset {
        width: auto;
        min-width: 6rem;
        height: 3rem;
        font-size: 0.9rem;
        padding: 0 1rem;
    }


}